body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    text-align: center;
}

#canvas{
    margin: auto;
    width: 600px;
    height: 500px;
    border: 5px solid black;
}

#gameover{
    display: none;
    top: 200px;
    text-align: center;
    width: 100%;
    position: absolute;
    font-size: 3em;
}

.relative{
    position: relative;
    margin: auto;
}